@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(256, 100%, 5%);
    font: 30px sans-serif;
    overflow: hidden;
}

canvas {
    position: absolute;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    color: white;

    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 6rem;
    user-select: none;
}